*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --vary-light-gray: hsl(0, 0%, 98%);
  --white: #ffffff;
  /* extras */
  --font-size: 62.5%;
  --font-family: "Be Vietnam Pro", sans-serif;
  --padding-container-mobile: 0 2rem;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
}

/* reseteos */

img {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

::placeholder {
  color: var(--dark-grayish-blue);
}

input {
  padding: 1rem 7rem 1rem 2rem;
  border-radius: 10rem;
}

/* desktop */

.box__links__header {
  display: none;
}

.button__header {
  display: none;
}

/* header */

.header {
  width: 100%;
  background-color: var(--white);
  padding: 5rem 0 0 0;
  background-image: url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -5rem right -8rem;
}

.patron__header {
  background-image: url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 1rem right -25rem;
}

.container {
  padding: var(--padding-container-mobile);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__header {
  width: 130px;
}

.icon__hamburger {
  width: 30px;
}

.illustration__intro {
  padding: 5rem 0 1rem 0;
  margin: 0 auto;
}

.title__header {
  font-family: var(--font-family);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--dark-blue);
}

.copy__header {
  font-family: var(--font-family);
  text-align: center;
  color: var(--dark-grayish-blue);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.copy__margin--header {
  margin-bottom: 2.5rem;
}

.box__button__header {
  width: 100%;
  text-align: center;
  padding-bottom: 10rem;
}

.button {
  background-color: var(--bright-red);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 700;
  border-radius: 10rem;
  padding: 1.5rem 3.5rem;
  font-size: 1.2rem;
  box-shadow: 1px 7px 10px -3px rgba(0, 0, 0, 0.67);
  cursor: pointer;
}

/* main  */

.subtitle__information {
  font-family: var(--font-family);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
}

.subtitle__margin--information {
  margin-bottom: 2rem;
}

.copy__information {
  font-family: var(--font-family);
  text-align: center;
  color: var(--dark-grayish-blue);
  font-size: 1.5rem;
  line-height: 2.7rem;
}

.copy__margin--information {
  margin-bottom: 5rem;
}

/* section--tricks */

.container__tricks {
  padding: 0 0 0 2rem;
}

.content__title__tricks {
  width: 100%;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  background-color: var(--very-pale-red);
  padding: 1.5rem 0.5rem 1.5rem 9rem;
  margin-bottom: 1rem;
  position: relative;
}

.box__number__trick {
  background-color: var(--bright-red);
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  position: absolute;
  top: 0;
  left: 0;
}

.number {
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.4rem;
}

.subtitle__tricks {
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font-family);
}

.copy__trick {
  font-family: var(--font-family);
  text-align: left;
  color: var(--dark-grayish-blue);
  font-size: 1.3rem;
  line-height: 2.7rem;
}

.copy__margin--trick {
  margin-bottom: 4rem;
}

/* tabs */

.subtitle__margin--tabs {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.card__tabs {
  width: 100%;
  background-color: var(--vary-light-gray);
  text-align: center;
  padding: 2rem;
}

.avatar {
  width: 70px;
  margin: 0 auto;
  position: relative;
  top: -5rem;
}

.subtitle__card__tabs {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--dark-blue);
}

.copy__card__tabs {
  font-family: var(--font-family);
  font-size: 1.4rem;
  color: var(--dark-grayish-blue);
  line-height: 2.5rem;
}

.box__button__tabs {
  width: 100%;
  text-align: center;
  padding: 7rem 0 3rem 0;
}

/* banner--red */

.banner__red {
  width: 100%;
  background-color: var(--bright-red);
  text-align: center;
  background-image: url(/images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom 1rem left;
  padding: 10rem 0 7rem 0;
}

.title__banner__red {
  color: var(--white);
  font-size: 3.8rem;
  font-family: var(--font-family);
  margin-bottom: 2rem;
}

.button__white {
  background-color: var(--white);
  color: var(--bright-red);
}

/* footer */

.footer {
  background-color: var(--very-dark-blue);
  padding: 4rem 0 2rem 0;
}

/* grid-area */

.content__footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  grid-template-areas:
    "input__footer input__footer "
    "links-a__footer links-b__footer"
    "icon__footer icon__footer"
    "logo__box__footer logo__box__footer"
    "text__footer text__footer";
}

.input__footer {
  grid-area: input__footer/input__footer;
}

.links-a__footer {
  grid-area: links-a__footer/links-a__footer;
}

.links-b__footer {
  grid-area: links-b__footer/links-b__footer;
}

.icon__footer {
  grid-area: icon__footer/icon__footer;
}

.logo__box__footer {
  grid-area: logo__box__footer/logo__box__footer;
}

.text__footer {
  grid-area: text__footer/text__footer;
}

/* termina-grid-area */

.input__footer {
  margin: 0 auto;
}

.botton__footer {
  margin-left: 1rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 10rem;
  color: var(--white);
  background-color: var(--bright-red);
}

.footer a {
  color: var(--dark-grayish-blue);
  font-size: 1.3rem;
  font-family: var(--font-family);
  font-weight: 700;
}

.links-a__footer {
  display: grid;
  line-height: 2.4rem;
  place-self: end;
  padding-right: 4rem;
}

.links-b__footer {
  padding-left: 1rem;
  display: grid;
}

.icon__footer {
  display: flex;
  gap: 3.8rem;
  margin: 0 auto;
}

.icon {
  width: 30px;
}

.logo__box__footer {
  margin: 0 auto;
}

.logo__footer {
  width: 160px;
}

.text__footer {
  text-align: center;
}

.copyright {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 700;
}

/* mediaqueries */

/* patrones */

@media (min-width: 411px) {
  .patron__header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right -27rem;
  }
}

/* patrones */

@media (min-width: 467px) {
  .patron__header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right -30rem;
  }
}

/* patrones */

@media (min-width: 500px) {
  .patron__header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right -35rem;
  }
}

/* patrones */

@media (min-width: 584px) {
  .patron__header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right -37rem;
  }
}

/* patrones */

@media (min-width: 666px) {
  .header {
    width: 100%;
    background-color: var(--white);
    padding: 5rem 0 0 0;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -18rem right -12rem;
  }

  .patron__header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right -44rem;
  }
}

/* patrones */

@media (min-width: 719px) {
  .header {
    width: 100%;
    background-color: var(--white);
    padding: 5rem 0 0 0;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -24rem right -12rem;
  }

  .patron__header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right -47rem;
  }
}

/* patrones */

@media (min-width: 787px) {
  .header {
    width: 100%;
    background-color: var(--white);
    padding: 5rem 0 0 0;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -27rem right -12rem;
  }

  .patron__header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right -47rem;
  }
}

/* patrones */

@media (min-width: 800px) {
  .header {
    width: 100%;
    background-color: var(--white);
    padding: 5rem 0 0 0;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -30rem right -12rem;
  }

  .patron__header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right -55rem;
  }
}

/* patrones */

@media (min-width: 900px) {
  .header {
    width: 100%;
    background-color: var(--white);
    padding: 5rem 0 0 0;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -37rem right -12rem;
  }

  .patron__header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 1rem right -60rem;
  }
}

/* 1200px mediaqueries */

@media (min-width: 1200px) {
  /* header */

  .header {
    width: 100%;
    background-color: var(--white);
    padding: 5rem 0 0 0;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -10rem right -18rem;
  }

  .patron__header {
    background-image: none;
  }

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: var(--padding-container-mobile);
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__nav__desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon__hamburger {
    display: none;
  }

  .box__links__header {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: 1.4rem;
  }

  .box__links__header a {
    color: var(--dark-blue);
  }

  .button__header {
    display: flex;
  }

  /* header--information */

  .content__header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10rem;
  }

  .content__header--illustration,
  .content__header--information {
    flex: 1;
  }

  /* content--header--information */

  .content__header--information {
    padding-top: 6rem;
  }

  .title__header {
    font-family: var(--font-family);
    font-size: 5rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 3rem;
    color: var(--dark-blue);
  }

  .copy__header {
    max-width: 65%;
    font-family: var(--font-family);
    text-align: left;
    color: var(--dark-grayish-blue);
    font-size: 1.7rem;
    line-height: 3rem;
  }

  .copy__margin--header {
    margin-bottom: 3.5rem;
  }

  .box__button__header {
    width: 100%;
    text-align: left;
    padding-bottom: 0;
  }

  /* content__header--illustration */

  .illustration__intro {
    padding: 0;
    margin: 0 auto;
  }

  /* section--main */
}
